<nav class="navbar navbar-expand-sm navbar-light bg-primary">
    <a class="navbar-brand" href="#">Admin Section</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link" routerLinkActive="active" aria-expanded="false" routerLink="./doctors">Doctors</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLinkActive="active" routerLink="./announcements" href="#">Announcement</a>
            </li>
        </ul>
        <button type="button" class=" text-right btn btn-danger" (click)="logout()">Log Out</button>

    </div>
</nav>
