*{
    
    max-width: 500px;
    margin: auto;
    
}

.title{
    top: 25px;
}
.form-group{
    margin-top: 45px;
    
}
.form-control{
    background-color:aliceblue
}
.Upload{
    margin-top: 25px;
    text-align: center;
}