<div class="container">
    <div class="title">
        <div class="text-center" style="padding-top: 85px;">
            <h2>Login</h2>
        </div>
    </div>
    
    <div class="row">
      <div class="form">
        <form id="contact-form" role="form" enctype="multipart/form-data" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group form-group-lg">
            <label>Username</label>
            <input type="text" name="username" id="" class="form-control" placeholder="" formControlName="username">
          </div>
          <div class="form-group form-group-lg">
            <label>Password</label>
            <input type="password" name="password" id="" class="form-control" placeholder="" formControlName="password">
          </div>
         <div class="Upload">
            <button type="button" class="btn btn-primary" (click)="onSubmit()">Login</button>
          </div>
    
        </form>
      </div>
    </div>
</div>