<div class="container">
  <div class="text-center">
      <h2>Add Announcement</h2>
  </div>
  <div class="row">
      <div class="form">
          <form id="contact-form" role="form" enctype="multipart/form-data">
              <div class="form-group form-group-lg">
                  <label >Title</label>
                  <input type="text"  name="" id="" class="form-control" placeholder="" [(ngModel)]='Title' [ngModelOptions]="{standalone: true}">
                </div>
               <div class="form-group">
                 <label for="">Details</label>
                 <textarea class="form-control" name="" id="" rows="3" [(ngModel)]='Details' [ngModelOptions]="{standalone: true}"></textarea>
               </div>
               <div class="form-group">
                 <label class="custom-file">
                   <input type="file" name="" id="" placeholder="Upload Image" class="custom-file-input" aria-describedby="fileHelpId" (change)="onFileChanged($event)">
                   <span class="custom-file-control"></span>
                 </label>
                 <small id="fileHelpId" class="form-text text-muted text-dark">Upload Image</small>
               </div>
               <div class="Upload">
                  <button type="button" class="btn btn-primary" (click)='addAnnouncement()'>Upload</button>
               </div> 
               
              </form>
      </div>
  </div>
  
  
   
  
</div>